.contact h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    color: #DE5B72;
    font-weight: bold;
    font-size: 30px;
}
.container {
    display: flex;
    margin: auto 2rem;
}

.right {
    width: 50%;
    display: flex;
    margin: auto -3rem auto 5rem;
}

.right p {
    text-align: justify;
    font-size: 18px;
}

.left {
    display: flex;
    justify-content: center;
    width: 40%;
}

.left img {
    width: 400px;
    height: 400px;
}